<div id="contain" style="padding:20px;">
<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            User Registration
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <form>
                    <label id="registration-form" style="color: black;">Email ID:</label>
                    <div class="form-group">
                        <input type="email" name="uemail" id="uemail" class="form-control" placeholder="Email..." ngModel #uemail="ngModel"  required/>
                        <div *ngIf="uemail.invalid && (uemail.dirty || uemail.touched)">
                      <div *ngIf="uemail.errors.required" style="font-size: small; color: red;">
                        *Email is required.
                      </div>
                    </div>
                    </div>
                    <label id="registration-form" style="color: black;">Password :</label>
                    <div class="form-group">
                         <input type="password" name="password" id="password" class="form-control" placeholder="Password..." ngModel #password="ngModel"  required/>
                         <div *ngIf="password.invalid && (password.dirty || password.touched)"
                         >
                     
                       <div *ngIf="password.errors.required" style="font-size: small; color: red;">
                         Password is required.
                       </div>
                     </div>
                    </div>
                    <label id="registration-form" style="color: black;">First Name:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name..." #fname/>
                    </div>
                    <label id="registration-form" style="color: black;">Last Name:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name..." #lname/>
                    </div>
                    <label id="registration-form" style="color: black;">Contact Number:</label>
                    <div class="form-group">
                        <input type="number" class="form-control" name="ucontact" id="ucontact"  maxlength="10" placeholder="Contact No...." ngModel #ucontact="ngModel" required/>
                        <div *ngIf="ucontact.invalid && (ucontact.dirty || ucontact.touched)">
                                <div *ngIf="ucontact.errors.maxlength">
                                        *Phone number must be 10 digits long.
                                      </div>   
                                      </div>                                 
                    </div>
                    <input type="submit" class="btn btn-dark" value="Register" (click)="userRegister(uemail.value,password.value,fname.value,lname.value,ucontact.value)" #required>
            </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-dark collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Mentor Registration
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
           <form>
               <label id="registration-form" style="color: black;">Email ID:</label>
               <div class="form-group">
                   <input type="email" class="form-control" name="memail" id="memail" placeholder="Email..." #memail="ngModel" ngModel required/>
                   <div *ngIf="memail.invalid && (memail.dirty || memail.touched)">
                        <div *ngIf="memail.errors.required" style="font-size: small; color: red;">
                          *Email is required.
                        </div>
                      </div>
               </div>
               <label id="registration-form" style="color: black;">Password :</label>
               <div class="form-group">
                    <input type="password" class="form-control" name="mpass" id="mpass" placeholder="Password..." #mpass="ngModel" ngModel required/>
                    <div *ngIf="mpass.invalid && (mpass.dirty || mpass.touched)"
                    >
                
                  <div *ngIf="mpass.errors.required" style="font-size: small; color: red;">
                    *Password is required.
                  </div>
                </div>
               </div>
               <label id="registration-form" style="color: black;">LinkedIn Profile URL:</label>
               <div class="form-group">
                   <input type="url" class="form-control" placeholder="URL..." #url/>
               </div>
               <label id="registration-form" style="color: black;">Years of Experience:</label>
               <div class="form-group">
                   <input type="number" class="form-control" placeholder="Years..." #years/>
               </div>
               <input type="submit" class="btn btn-dark" value="Register" (click)="register(memail.value,mpass.value,url.value,years.value)" #required>
               </form>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>